{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>CV - John Doe</title>
  <link rel="stylesheet" type="text/css" href="/Tester/static/css/styles.css">
  <link
      rel="shortcut icon"
      type=""
      href="/Tester/static/img/favicon.ico"
    />
</head>
<body>
  <div class="container">
    <h1>John Doe</h1>
    <img src="/Tester/static/img/ME.jpeg" alt="">    
    <p class="subtitle">Web Developer</p>
    
    <h2>Education</h2>
    <ul>
      <li>
        <h3>University of XYZ</h3>
        <p class="details">Bachelor's Degree in Computer Science</p>
      </li>
      <li>
        <h3>ABC College</h3>
        <p class="details">Associate's Degree in Web Development</p>
      </li>
    </ul>
    
    <h2>Skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Python</li>
    </ul>
    
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Company XYZ</h3>
        <p class="details">Web Developer (2019 - Present)</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ex a cursus aliquet.</p>
      </li>
      <li>
        <h3>ABC Agency</h3>
        <p class="details">Junior Web Developer (2017 - 2019)</p>
        <p class="description">Vestibulum auctor justo nec tincidunt ultrices. Integer congue mauris augue.</p>
      </li>
    </ul>
  </div>
</body>
</html>
